[Unit]
Description=Download Onsen Audio Files
[Service]
Type=oneshot
# ExecStart=%h/onsen/onsendl /media/recorded/onsen/
ExecStart=%h/onsendl/onsendl 
[Install]
WantedBy=default.target
