[Unit]
Description=Download Onsen Audio Files
[Service]
Type=oneshot
WorkingDirectory=%h/repo/onsendl/
ExecStart=/usr/bin/npm start -- -o /media/recorded/onsen/
[Install]
WantedBy=default.target
