[Unit]
Description=Daily Timer for Onsen Donwloader

[Timer]
OnCalendar=Mon,Tue,Wed,Thu,Fri,Sat *-*-* 14:00:00
Unit=onsendl.service

[Install]
WantedBy=timers.target
